header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid #44a3cb;
}

li {
    display: inline-block;
    margin: 15px;
    cursor: pointer;
}